* {
    background-color: rgb(145, 145, 218);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration:none;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    Padding: 0 20px 0 20px;
    margin:auto;
}


section {
    padding: 60px;
}

header nav ul li {
    display: inline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bolder;
    
}


header nav {
    float: right;
    margin: 7px 0;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-style: normal;
}

.mario {
    width: 100px;
    float: right;
    border: cornflowerblue;
    border-style: solid;
    border-width: 5px;
}
.workitems {
   float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;

}

.imageone {
    width: 1100px;
    border: cornflowerblue;
    border-style: solid;
    border-width: 5px;
    position: relative;
   
}

.textone {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: bold;
 
 
   
}

.imagetwo {
    width: 200px;
    border: cornflowerblue;
    border-style: solid;
    border-width: 5px;
   
}

.texttwo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: bold;
    position: absolute;
}

.imagethree {
    width: 200px;
    border: cornflowerblue;
    border-style: solid;
    border-width: 5px;
}

.textthree {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: bold;
    position: absolute;
}

.imagefour {
    width: 200px;
    border: cornflowerblue;
    border-style: solid;
    border-width: 5px;
  
}

.textfour {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: bold;
    position: absolute;
}

.imagefive {
    width: 200px;
    border: cornflowerblue;
    border-style: solid;
    border-width: 5px;
  
}

.textfive {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-style: bold;
    position: absolute;
}

div ul li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-weight: bold;
    display: inline;
    padding: 0 20px 0 20px;
}